body{
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
  margin: 1em;
  display: inline-block;
  padding: .2em 2em;
  background-color: rgb(17, 206, 102);
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.5em;
  color: #fff;
  text-decoration: none;
}
.button:hover{
  background-color: rgb(67, 255, 152);
}
form label{
  display: table;
  margin: 1em;
}
.absolute-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
form input{
  font-family: inherit;
  width: 200px;
  line-height: 1.5em;
  height: 1.5em;
}
input.hide{
  display: none;
}
nav{
  display: flex;
  justify-content: flex-end;
  position: relative;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li{
  display: inline-block;
  padding: 0;
  margin: 0;
}
table{
  border-collapse: collapse;
}
table tr td:last-child{
  text-align: right;
  padding-left: 1em;
}
table tr:nth-child(even){
  background-color: rgba(0,0,0,0.1);
}
.my-credit-cards{
  border-collapse: separate;
}
.my-credit-cards td,th{
  text-align: center;
  padding: 0 .2em;
}
.my-credit-cards td:last-child input, .my-credits td:last-child input{
  width: 100px;
}
.my-credits{
  border-collapse: separate;
  text-align: center;
}
.relative-content{
  padding-top: 2em;
  display: block;
  position: relative;
}
.relative-center{
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}